<template>
  <div class="content-container">

    <div class="content-title-bar">
      <span>Completed Events</span>
      <div class="search-input-container">
        <input type="text" class="textbox" placeholder="Search" v-model="search">
      </div>
    </div>
    
    <section class="card-container">
      <div class="row">
        <div class="card-wrap" v-for="attended in filteredFinishedEvents" :key="attended.finished_event_id">
          <router-link to="/A2" class="card-link">
            <div class="card card-style-group-events" @click="saveFinishedEventId(attended.event_name)">
              <div class="card-body">
                <div class="card-title-div">
                    <h4 class="card-title">{{attended.event_name}}</h4>
                </div>
                <h6 class="card-subtitles">{{attended.event_date}}</h6>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  beforeCreate: function(){
     this.$store.commit('setNavbar', 'Attendance');
     this.$store.commit('setButton', 'attendance');
     
  },

  data() {
    return {
      search:''
    }
  },


  computed:{
    ...mapGetters({
      finished_events: "getFinishedEvent"
    }),

    filteredFinishedEvents() {
      return this.finished_events.filter(finished_event => {
        return (
          finished_event.event_name.toLowerCase().match(this.search) 
        );
      });
    }
  },

  mounted(){
    this.$store.dispatch('fetchEvent');
    this.$store.dispatch('fetchFinishedEvent');
  },

  methods: {
    saveFinishedEventId(id) {
      this.$store.commit('setFinishedEventId', id);
    }
  }
}
</script>
