<template>
  <div class="content">
    <div class="tables-container">
      
      <div class="content-title-bar">
        <span>
          {{ finshedId }}
        </span>

      <input type="text" v-model="finshedId" hidden>
        <div class="attendance-select-container">
          <select name="sections" id="sections" class="attendance-section" v-model="search">
            <option v-for="section in sections" :key="section.section_id">
              {{section.section_description}}
            </option>
          </select>
        </div>
      </div>

      <div class="tables table-responsive">
        <table>
          <thead>
            <tr>
              <td>ID Number</td>
              <td>Name</td>
              <td>Section</td>
              <td>Time In</td>
              <td>Time Out</td>
            </tr>
          </thead>

          <tbody>
            <tr v-for="attended in filteredAttendance" :key="attended.attendance_id">
              <td>{{ attended.student_id }}</td>
              <td>{{ attended.last_name }}, {{ attended.first_name }} {{ attended.last_name.charAt(0) }}.</td>   
              <td>{{ attended.section_description }}</td>  
              <td>{{ returnTimeInStat(attended.time_in_status) }}</td>     
              <td>{{ returnTimeOutStat(attended.time_out_status) }}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
      
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {

  data() {
    return {
      finshedId: this.$store.state.finished_event_id,
      search:''
    }
  },

  computed:{
    ...mapGetters({
      sections: "getSections",
      attendances: "getAttendances"
    }),

    filteredAttendance() {
      return this.attendances.filter(attendance => {
        return (
          attendance.section_description.match(this.search) &&
          attendance.event_name.match(this.finshedId)
        );
      });
    }
  },

  mounted(){
    this.$store.dispatch('fetchSections');
    this.$store.dispatch('fetchAttendance');
    this.$store.dispatch('fetchStudents');
    this.$store.dispatch('fetchAttendanceStatus');
  },

  methods:{
    returnTimeInStat(id) {
      var item = (this.$store.getters.getAttendanceStatus[id-1].status_description);
      return item;
    },

    returnTimeOutStat(id) {
      var item = (this.$store.getters.getAttendanceStatus[id-1].status_description);
      return item;
    }
  }
}
</script>

