<template>
  <div class="content">
   <div class="container-content">

      <div class="content-title-bar">
        <span>Students</span>
        <div class="search-input-container">
          <input type="text" class="textbox" placeholder="Search" v-model="search">
        </div>
      </div>

      <div class="tables">
        <table>
          <thead>
            <tr>
              <td>Student ID</td>
              <td>Name</td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            <tr v-for="student in filteredBooks" :key="student.student_id">
              <td>{{ student.student_id }}</td>
              <td>{{student.last_name}}, {{student.first_name}} {{student.middle_name.charAt(0)}}.</td>
              <td>
                <button class="details btn" data-toggle="modal" data-target="#studentDetails" @click="viewStudents(student)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

<!-- student details ------------------------------------------------------->
    <div class="modal fade" data-backdrop="static" id="studentDetails" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title">Student Details</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="id" v-model="student.student_id" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="fullName" v-model="student.fullName" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="section" v-model="student.section" readonly>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="year" v-model="student.year" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="age" v-model="student.age" readonly>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="gender" v-model="student.gender" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="mobileNumber" v-model="student.contact_no" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="email" class="form-control" id="email" v-model="student.email" readonly>
                  </div>
                </div>
              </div>
              
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>


<script>
import { mapGetters } from "vuex";
export default {
  beforeCreate: function(){
    this.$store.commit('setNavbar', 'Students');
    this.$store.commit('setButton', 'students');
  },

  data(){
    return{
      student:{
        student_id: "",
        year: "",
        gender: "",
        section: "",
        first_name: "",
        middle_name: "",
        last_name: "",
        age: 0,
        email: "",
        contact_no: "",
        fullName: ""
      },

      search:""
    }
  },

  computed:{
    ...mapGetters({
      students: "getStudents"
    }),

    filteredBooks() {
      return this.students.filter(student => {
        return (
          student.student_id.toString().match(this.search)
        );
      });
    }
  },

  mounted(){
    this.$store.dispatch('fetchStudents');
    this.$store.dispatch('fetchGender');
    this.$store.dispatch('fetchSections');
    this.$store.dispatch('fetchYearLevel');
  },

  methods:{
    viewStudents(student){
      var name = student.last_name + ", " + student.first_name + " " + student.middle_name.charAt(0) + ".";

      this.student.student_id = student.student_id,
      this.student.year = this.returnYearLevelDesc(student.year_id),
      this.student.gender =  this.returnGenderDesc(student.gender_id),
      this.student.section = this.returnSectionsDesc(student.section_id),
      this.student.fullName = name,
      this.student.age = student.age,
      this.student.email = student.email,
      this.student.contact_no = student.contact_no
    },

    returnGenderDesc(id) {
      var item = (this.$store.getters.getGenders[id-1].gender_description);
      return item;
    },

    returnSectionsDesc(id) {
      var item = (this.$store.getters.getSections[id-1].section_description);
      return item;
    },

    returnYearLevelDesc(id) {
      var item = (this.$store.getters.getYearLevel[id-1].year_description);
      return item;
    },
  }
}
</script>
