<template>
  <div class="content">
    <div class="tables-container">
      
      <div class="content-title-bar">
        <span>{{ finshedId }}</span>
        <div class="search-input-container">
          <input type="text" class="textbox" placeholder="Search" v-model="search">
          <input hidden v-model="finshedId">
        </div>
      </div>

      <div class="tables">
        <table>
          <thead>
            <tr>
              <td>Student ID</td>
              <td>Name</td>
              <td>Payables</td>
              <td>Status</td>
              <td></td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            <tr v-for="sanction in filteredSanctions" :key="sanction.sanction_id">
              <td>{{ sanction.student_id }}</td>
              <td>{{ sanction.last_name }}, {{ sanction.first_name }} {{ sanction.middle_name.charAt(0) }}.</td>
              <td>{{sanction.sanction_payables}}</td>
              <td>{{sanction.sanction_status}}</td>
              <td>
                 <button type="button" class="btn details" data-toggle="modal" data-target="#status_modal" @click.prevent="editSanction(sanction)" >Update</button>
              </td>
              <td>
                <router-link to="/S3" class="btn details" role="button">
                  <button type="button" class="btn details" @click="saveStudId(sanction.last_name), saveStudIds(sanction.first_name)" >Details</button>
                </router-link>
              </td>
            </tr>

          </tbody>
          
        </table>
      </div>

    </div>

<!-- modal section -->
     <div class="modal fade" data-backdrop="static" id="status_modal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title">Update Status</h3>
          </div>

          <div class="modal-body">
            <form>
             
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <select name="sanction_update_status" id="sanction_update_status" v-model="sanction.sanction_status">
                      <option value="Pending">Pending</option>
                      <option value="Paid">Paid</option>
                    </select>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" @click="updateSanction()">Save</a>
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      finshedId: this.$store.state.finished_section_name,
      componentKey: this.$store.state.componentKey,
      search:'',
      modal_sanction_id: "",

      sanction:{
        sanction_id:0,
        student_id:"",
        sanction_payables:"",
        sanction_status:"",
        last_name:"",
        first_name:""
      }
    }
  },
  
  mounted(){
    this.$store.dispatch('fetchSanctions');
  },

  computed:{
    ...mapGetters({
      sanctions: "getSanctions"
    }),

    filteredSanctions() {
      return this.sanctions.filter(sanction => {
        return (
          sanction.section_description.match(this.finshedId) &&
          sanction.student_id.toString().match(this.search)       
        );
      });
    }
  },

   methods:{
    editSanction(sanction){
      this.modal_sanction_id = sanction.sanction_id,
      this.sanction.student_id = sanction.student_id,
      this.sanction.sanction_payables = sanction.sanction_payables,
      this.sanction.sanction_status = sanction.sanction_status
    },

    updateSanction(){
        var data = {
          sanction_id: this.modal_sanction_id,
          student_id: this.sanction.student_id,
          sanction_payables: this.sanction.sanction_payables,
          sanction_status: this.sanction.sanction_status,
        };
        this.$store.dispatch('updateSanctions', data);
        this.$toast.success("Event Updated Successfuly!");
        this.componentKey += 1;
        setTimeout(() => {
            this.$store.commit('setComponentKey', this.componentKey);
        }, 6000);
    },

    saveStudId(id) {
      this.$store.commit('setStudId', id);
    },

    saveStudIds(id) {
      this.$store.commit('setStudIds', id);
    }
  }
}
</script>
