<template>
  <div class="content">
    <div class="tables-container">
      
      <div class="content-title-bar">
        <span> {{ studId }} </span>
      </div>
      <input hidden v-model="studIds">
      <input hidden v-model="studIdss">
      <div class="tables">
        <table>
          <thead>
            <tr>
              <td>Event</td>
              <td>Time In</td>
              <td>Time Out</td>
            </tr>
          </thead>

          <tbody>
            <tr v-for="attended in filteredAttendance" :key="attended.attendance_id">
              <td>{{ attended.event_name }}</td>
              <td>{{ returnTimeInStat(attended.time_in_status) }}</td>     
              <td>{{ returnTimeOutStat(attended.time_out_status) }}</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      studId: this.$store.state.finished_stud_id + ', ' + this.$store.state.finished_stud_ids,
      studIds: this.$store.state.finished_stud_id,
      studIdss: this.$store.state.finished_stud_ids 
    }
  },

  computed:{
    ...mapGetters({
      sanctions: "getSanctions",
      attendances: "getAttendances"
    }),

    filteredAttendance() {
      return this.attendances.filter(attendance => {
        return (
          attendance.last_name.match(this.studIds) ||
          attendance.first_name.match(this.studIdss)
        );
      });
    }
  },

  mounted(){
    this.$store.dispatch('fetchSanctions');
    this.$store.dispatch('fetchAttendance');
    this.$store.dispatch('fetchAttendanceStatus');
  },

   methods:{
     returnTimeInStat(id) {
      var item = (this.$store.getters.getAttendanceStatus[id-1].status_description);
      return item;
    },

    returnTimeOutStat(id) {
      var item = (this.$store.getters.getAttendanceStatus[id-1].status_description);
      return item;
    },

    returnStudentName(id) {
      var item = (this.$store.getters.getStudents[id-1].last_name);
      return item;
    },



    // returnStudMName(id) {
    //   var item = (this.$store.getters.getSanctions[id-1].middle_name);
    //   return item;
    // },

    // returnStudLName(id) {
    //   var item = (this.$store.getters.getSanctions[id-1].last_name);
    //   return item;
    // }
  }
}
</script>
