<template>
  <div class="content">
    <div class="tables-container">

      <div class="content-title-bar">
        <span>Sanctions</span>
      </div>

      <section class="card-container" style="overflow-y: scroll; height:500px; width:1400px;">
        <div class="row">
          <div class="card-wrap" v-for="section in sections" :key="section.section_id">
            <router-link to="/S2" class="card-link">
              <div class="card card-style-group-events" @click="saveFinishedSectionId(section.section_description)">
                <div class="card-body">
                  <div class="card-title-div">
                     <h4 class="card-title ">{{ section.section_description }}</h4>
                  </div>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </section>

    </div>
  </div>
</template>

<script>

export default {
  beforeCreate: function(){
     this.$store.commit('setNavbar', 'Sanctions');
     this.$store.commit('setButton', 'sanctions');
  },

  computed:{
    sections(){
      return this.$store.state.sections;
    }
  },

  mounted(){
    this.$store.dispatch('fetchSections');
  },

  methods: {
    saveFinishedSectionId(id) {
      this.$store.commit('setSectionId', id);
    }
  }
}
</script>
