<template>
  <div class="row">
    <div class="card-wrap" v-for="event in filteredEvents" :key="event.event_id">
      <div class="card">
        <a class="card-link" data-toggle="modal" data-target="#eventDetails" @click="editEvent(event)">
          <div class="card-body">
            <h4 class="card-title align-items-stretch">{{event.event_name}}</h4>
            <h6 class="card-subtitles">{{event.event_date}}</h6>
            <h6 hidden>{{event.semester_description}}</h6>
            <h6 hidden>{{event.school_year_description}}</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data(){
    return{
      component_key: this.$store.getters.getComponentKey,
    }
  },
  computed:{
    ...mapGetters({
      events: "getEvents",
    }),

    filteredEvents() {
      return this.events.filter(event => {
        return (
          event.semester_description.match(this.semester_search) &&
          event.school_year_description.match(this.schoolYear_search)
        );
      });
    }
  }
}
</script>

