<template>
  <div>
    <nav class="sidebar" id="sidenav">

      <div class="sidebar-logo">
          <img src="../assets/img/logo.png">
      </div>

      <ul class="list-unstyled">
        <router-link to="/D">
          <li :class=" activeBtn == 'dashboard' ? 'active' : ''">
            <img src="../assets/img/icons/dashboard.png">
            <span>Dashboard</span>
          </li>
        </router-link> 

          <router-link to="/A1">
          <li :class=" activeBtn == 'attendance' ? 'active' : ''">
            <img src="../assets/img/icons/attendance.png">
            <span>Attendance</span>
          </li>
        </router-link> 

        <router-link to="/S1">
          <li :class=" activeBtn == 'sanctions' ? 'active' : ''">
            <img src="../assets/img/icons/sanctions.png">
            <span>Sanctions</span>
          </li>
        </router-link> 

        <router-link to="/ST">
          <li :class=" activeBtn == 'students' ? 'active' : ''">
            <img src="../assets/img/icons/students.png">
            <span>Students</span>
          </li>
        </router-link> 
      </ul>

    </nav>

  </div>
</template>

<script>

export default {
  props: {
    activeBtn: String
  }
};
</script>
