<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
			<div class="container-fluid">
				<h4 class="navbar-title">Sanctions</h4>
				<button type="button" class="btn navbar-logout-btn" @click="log_out()">
					<span>Log Out</span>
				</button>
			</div>
		</nav>
  </div>
</template>

<script>

export default {
  methods: {
    log_out() {
        this.$store.commit('setAdminLogin', false);
        this.$store.commit('setTreasurerLogin', false);
        this.$router.push('/L');
    }
  }
}
</script>

