<template>
  <div>
    <nav class="sidebar" id="sidenav">

      <div class="sidebar-logo">
          <img src="../assets/img/logo.png">
      </div>

      <ul class="list-unstyled">
        <router-link to="#">
          <li class="active">
            <img src="../assets/img/icons/sanctions.png">
            <span>Sanctions</span>
          </li>
        </router-link> 
      </ul>

    </nav>

  </div>
</template>


