.login-wrapper{
  display: block;
  width: 100%;
  height: auto;
  padding: auto;
  margin: auto;
}

.login-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: auto;
  margin: auto;
  justify-content: center;
}

.login-content img{
  width: 200px;
  height: 226px;
  margin-top: 10%;
  margin-left: 40px;
  margin-bottom: 30px;
}

#loginForm{
  align-content: center;
  margin-top: 6%;
}

form .login-input {
  width: 300px;
  height: 39px;
  margin: 6px auto;
  padding: 10px 30px;
}

form .login-button{
  width: 300px;
  height: 39px;
  background-color: #730000;
  border: 2px solid #FFFFFF;
  margin: 6px auto;
  color: white;
  border-radius: 5px;
}

form .login-button:hover{
  background-color: #880000;
}
