/* content-title-bar section--------------------------------------------------------------------- */
.content-container{
    height: 100%;
  }
  
.content-title-bar{
  background-color: white;
  min-height: 12%;
  max-height: 12%;
  display: inline-block;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0;
  padding-top: 50px;
}

.content-title-bar span{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #858585;
}

.event-new {
  border:  #880000 2px solid;
  background-color: white;
  color:   #880000;
  height: 40px;
  width: 140px;
  font-size: 16px;
  font-weight: 600;
  float: right;
}

.event-new:hover {
  background:  #880000;
  color: white;
}

/* table section--------------------------------------------------------------------- */
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.tables{
  padding: 0 100px 50px 100px;
}

thead{
  background-color: #858585;
  color: white;
  font-size: 16px;
  text-align: center;
}

thead td{
  padding: 8px;
}

tbody tr{
  background-color: #F5F7FC;
  color: #3B3B3B;
  font-size: 15px;
  text-align: center;
}

tbody td{
  padding: 8px;
}

#status{
  padding: 5px;
  background-color: inherit;
  border: 2px solid  #858585;
}

/* cards section--------------------------------------------------------------------- */

.card-container{
  display: inline-block;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 5px;
}

.card{
  width: 200px;
  height: auto;
  text-align: center;
  margin-right: 8px;
  margin-left: 8px;
}

.card-row{  
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link .card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0, 0.10);
  color: #858585;
}

/* search bar section -----------------------------------------------------------------------------*/

.textbox{
  height: 35px;
  border: none;
  border-radius: 10px;
  outline: 0;
  width: 306px;
  padding: 10px;
  font-size: 16px;
}

.search-input-container{
  float: right;
  border: 2px solid  #858585;
  height: 40px;
  width: 310px;
}

.details {
  color: black;
}

.details:hover {
  color: #880000;
}

.attendance-select-container{
  float: right;
  height: 40px;
  width: 150px;
}

.attendance-section{
  padding: 0 10px;
  height: 40px;
  width: 150px;
  border-color: #858585;
}