
.modal-header{
    color: #858585;
    height: 55px;
}

.modal-title{
    font-size: 20px;
    margin-top: 0;
}

.form-group{
    display: flex;
}

.modal-dialog{
    max-width: 35%;
}

.form-group .row{
    width: 90%;
    margin: auto;
}

.form-group label{
    float: right;
    font-size: 18px;
    color: #3B3B3B;
}

form{
    padding-top: 20px;
}

.btn-primary{
    background-color: #730000;
    border: none;
}

.btn-primary:hover{
    background-color: #880000;
}

.form-group input{
    background-color: #E2EBF5;
}

.form-group select{
    background-color: #E2EBF5;
    width: 100%;
    border: none;
    height: 40px;
    padding-left: 10px;
}

.form-group h5{
    margin-top: 10px;
    margin-bottom: 0;
}

.modal-footer{
   margin: auto;
   color: white;
}
