@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*Sidebar Section*/
.body-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
 
}

.sidebar{
	min-width: 250px;
	max-width: 250px;
	background-color: #730000;
  float: left;
  padding-top: 39px;
  height: 100vh;

}

.sidebar-logo img{
	width: 150px;
	height: 162px;
  margin-bottom: 40px;
  margin-left: 43px;
}

.active{
  background-color: #880000;
}

ul li{
  height: 65px;
  width: auto;
  padding-left: 34px;
}

ul li:hover{
  background-color: #880000;
}

ul li img{
	width: 25px;
	height: 25px;
  margin-right: 14px;
  margin-top: 20px;
}

ul a li span{
  text-decoration: none;
  color: #E2EBF5;
  font-size: 20px;
  position: relative;
  top: 13px;
}

ul a:hover{
  text-decoration: none;
  color: #E2EBF5;
}

/*Navbar section----------------------------------------------------------------------------------------------------*/
.navbar{
  height: 60px;
  background-color: white;
  border-bottom: 2px solid #880000;
  color: #880000;
  
}

.navbar-title{
  font-weight: bold;
  font-size: 20px;
  margin-top: 13px;
  margin-left: 13px;
}

.navbar-logout-btn{
  background: white;
  border: 2px solid #858585;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
  width: 121px;
  height: 33px;
}

.navbar-logout-btn:hover{
  background: #cccccc;
  border: 2px solid white;
  width: 121px;
  height: 33px;
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
  color: white;
}

/*Main Section----------------------------------------------------------------------------------------------------*/

.content{
  background-color: white;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* media queries--------------------------------------------------------------------- */
@media (max-width: 1200px) {

    .sidebar {
        margin-left: -316px;
    }

    .sidebar{
      margin-left: 0;
    }

}
