<template>
   <div class="login-wrapper">

    <div class="container-fluid login-content">

      <div id="loginForm">
        <img src="@/assets/img/logo-maroon.png" alt="">
        <div class="row"><input type="text" placeholder="Student ID" v-model="account.student_ids" class="login-input"></div>
        <div class="row"><input type="password" placeholder="Password" v-model="account.passwords" class="login-input"></div>
        <div class="row">
            <button class="login-button" @click="log_in()">Log In</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data(){
    return{
      account:{
        student_ids:'',
        passwords:''
      },
      username: '',
      pass: ''
    }
  },
  computed:{
    ...mapGetters({
      accounts: "getAccounts",
      schoolYear: "getSchoolYear",
      semesters: "getSemesters",
    })
  },

  mounted(){
    this.$store.dispatch('fetchAccounts');
  },

  methods: {
    log_in() {
      this.username = this.account.student_ids;
      this.pass = this.account.passwords;
     
      if(this.username == this.$store.state.adminID && this.pass == this.$store.state.adminID)
      {
        this.$store.commit('setAdminLogin', true);
        this.$router.push('/D');
      }
      if(this.username == this.$store.state.treasurerID && this.pass == this.$store.state.treasurerID)
      {
        this.$store.commit('setTreasurerLogin', true);
        this.$router.push('/S1');
      }
      if(this.username != this.$store.state.adminID || this.pass != this.$store.state.adminID ||
          this.username == this.$store.state.treasurerID || this.pass == this.$store.state.treasurerID)
      {
        this.$toast.error("Account doesn't exist");
      }      
    }
  }
}
</script>