<template>
    <div id="app">
        <LogIn v-if="!adminLoggedIn && !treasurerLoggedIn" />
        <MainShell v-if="adminLoggedIn" :key="componentKey"/>
        <treasShell v-if="treasurerLoggedIn" :key="componentKey"/>
    </div>
</template>

<script>
import LogIn from '@/views/Login/login.vue'
import MainShell from '@/views/mainShell.vue'
import treasShell from '@/views/treasurerShell.vue'

export default {
  beforeCreate: function(){
    this.$store.commit('setAdminLogin', false)
    this.$store.commit('setTreasurerLogin', false)
  },
  components: {
    LogIn,
    MainShell,
    treasShell
  },
  computed: {
    adminLoggedIn() {
      return this.$store.getters.getAdminLogin;
    },
    treasurerLoggedIn() {
      return this.$store.getters.getTreasurerLogin;
    },
    componentKey(){
      return this.$store.state.componentKey;
    }
  },
}
</script>