<template>
  <div id="app">
    <div class="body-wrapper">
      <Sidebar :activeBtn="button" />

      <div class="content">
        <Navbar v-bind:navbarTitle="title" />
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "../components/sidebar.vue";
import Navbar from "../components/navigationBar.vue";

export default {
    components: {
      Sidebar,
      Navbar
    },
    computed: {
      title() {
        return this.$store.getters.getTitle;
      },
      button() {
        return this.$store.getters.getButton;
      }
    },
}
</script>