<template>
  <div id="app">
    <div class="body-wrapper">
      <treasurerSide />

      <div class="content">
        <treasurerNav />
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import treasurerSide from "../components/treasurerSidebar.vue";
import treasurerNav from "../components/treasurerNavigation.vue";

export default {
    components: {
      treasurerSide,
      treasurerNav
    },
    computed: {
      title() {
        return this.$store.getters.getTitle;
      },
      button() {
        return this.$store.getters.getButton;
      }
    },
}
</script>