<template>
  <div class="content-container">

    <div class="content-title-bar">
      <span>Events</span>

      <div class="content-title-container" >
        <select name="semester" v-model="semester_search" placeholder="Semester">
          <option v-for="semester in semesters" :key="semester.semester_id">
                        {{ semester.semester_description }}
          </option>
        </select>

        <select name="school_year" v-model="schoolYear_search" placeholder="School Year">
          <option v-for="year in schoolYear" :key="year.school_year_id">
                          {{ year.school_year_description }}
          </option>
        </select>

        <input type="button" value="Schedule Event" class="btn event-new" data-toggle="modal" data-target="#createEvent" @click="clear()">
      </div>

    </div>

    <section class="card-container" style="overflow-y: scroll; height:500px; width:1500px;">
      <div class="row">
        <div class="card-wrap" v-for="event in filteredEvents" :key="event.event_id">
          <a class="card-link" data-toggle="modal" data-target="#eventDetails" @click.prevent="editEvent(event)">
            <div class="card card-style-group-events">
                <div class="card-body">
                  <div class="card-title-div">
                    <h4 class="card-title">{{event.event_name}}</h4>
                  </div>
                  <h6 class="card-subtitles">{{event.event_date}}</h6>
                </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <!-- create new event modal  ---------------------------------->
    <div class="modal fade" data-backdrop="static" id="createEvent" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title">Create Event</h3>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="eventName" placeholder="Event Name"
                    v-model="event.event_name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Time In:</h5>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_hour" placeholder="Hour" v-model="event.event_timeIN_hour">
                  </div>
                  <span>:</span>
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_minutes" placeholder="min" v-model="event.event_timeIN_min">
                  </div>
                  <div class="col-md-3">
                    <select name="meridian" id="meridian" v-model="event.event_timeIN_meridian">
                      <option value="AM">AM</option>
                      <option value="PM">PM</option>
                    </select>
                  </div>
                  <div class="col">
                    <input type="number" onfocus="this.value=''" class="form-control" id="timeInDuration" placeholder="Duration"
                    v-model="event.event_time_in_duration"> 
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Time Out:</h5>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_time_out_hour" placeholder="Hour" v-model="event.event_timeOUT_hour">
                  </div>
                  <span>:</span>
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_time_out_minutes" placeholder="min" v-model="event.event_timeOUT_min">
                  </div>
                  <div class="col-md-3">
                    <select name="meridian" id="create_time_out_meridian" v-model="event.event_timeOUT_meridian">
                      <option value="AM">AM</option>
                      <option value="PM">PM</option>
                    </select>
                  </div>
                  <div class="col">
                    <input type="number" onfocus="this.value=''" class="form-control" id="timeInDuration" placeholder="Duration"
                    v-model="event.event_time_out_duration"> 
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="venue" placeholder="Venue"
                    v-model="event.event_location">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="number" onfocus="this.value=''" class="form-control" id="create_monitor_id" placeholder="Student Monitor ID"
                    v-model="event.student_monitor_id">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select name="semester" id="semester" v-model="event.semester_id" placeholder="Semester">
                      <option v-for="semester in semesters" :key="semester.semester_id" :value="semester.semester_id">
                        {{ semester.semester_description }}
                      </option>
                    </select>
                  </div>
                   <div class="col-md-6">
                     <select name="school_year" id="school_year" v-model="event.school_year_id" placeholder="School Year">
                      <option v-for="year in schoolYear" :key="year.school_year_id" :value="year.school_year_id">
                        {{ year.school_year_description }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Date</h5>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <datepicker class="datepickers" format="MMMM dd, yyyy" v-model="event.event_date" placeholder="Select Date"></datepicker>
                </div>
              </div>

            </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" @click="createEvent">Create</button>
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- update event modal  ---------------------------------->

    <div class="modal fade" data-backdrop="static" id="updateEvent" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title">Update Event</h3>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="eventName" placeholder="Event Name"
                    v-model="event.event_name">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Time In:</h5>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_hour" placeholder="Hour" v-model="event.event_timeIN_hour">
                  </div>
                  <span>:</span>
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_minutes" placeholder="min" v-model="event.event_timeIN_min">
                  </div>
                  <div class="col-md-3">
                    <select name="meridian" id="meridian" v-model="event.event_timeIN_meridian">
                      <option value="AM">AM</option>
                      <option value="PM">PM</option>
                    </select>
                  </div>
                  <div class="col">
                    <input type="number" onfocus="this.value=''" class="form-control" id="timeInDuration" placeholder="Duration"
                    v-model="event.event_time_in_duration"> 
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Time Out:</h5>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_time_out_hour" placeholder="Hour" v-model="event.event_timeOUT_hour">
                  </div>
                  <span>:</span>
                  <div class="col-md-3">
                    <input type="number" class="form-control" id="create_time_out_minutes" placeholder="min" v-model="event.event_timeOUT_min">
                  </div>
                  <div class="col-md-3">
                    <select name="meridian" id="create_time_out_meridian" v-model="event.event_timeOUT_meridian">
                      <option value="AM">AM</option>
                      <option value="PM">PM</option>
                    </select>
                  </div>
                  <div class="col">
                    <input type="number" onfocus="this.value=''" class="form-control" id="timeInDuration" placeholder="Duration"
                    v-model="event.event_time_out_duration"> 
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="venue" placeholder="Venue"
                    v-model="event.event_location">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="number" onfocus="this.value=''" class="form-control" id="create_monitor_id" placeholder="Student Monitor ID"
                    v-model="event.student_monitor_id">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <select name="semester" id="semester" v-model="event.semester_id" placeholder="Semester">
                      <option v-for="semester in semesters" :key="semester.semester_id" :value="semester.semester_id">
                        {{ semester.semester_description }}
                      </option>
                    </select>
                  </div>
                   <div class="col-md-6">
                     <select name="school_year" id="school_year" v-model="event.school_year_id" placeholder="School Year">
                      <option v-for="year in schoolYear" :key="year.school_year_id" :value="year.school_year_id">
                        {{ year.school_year_description }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <h5>Date</h5>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <datepicker class="datepickers" format="MMMM dd, yyyy" v-model="event.event_date" placeholder="Select Date"></datepicker>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <a href="attendance.html" class="btn btn-primary" @click="updateEvent" data-dismiss="modal">Save</a>
            <button type="button" class="btn" data-dismiss="modal" >Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- event details modal  ---------------------------------->

    <div class="modal fade" data-backdrop="static" id="eventDetails" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title">Event Details</h3>
          </div>

          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="eventName"
                    v-model="event.event_name" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="date" placeholder="Date" 
                    v-model="event.event_date" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="venue" placeholder="Venue" 
                    v-model="event.event_location" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="timeIn" placeholder="Time In" 
                    v-model="event.event_time_in" readonly>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="timeInDuration" placeholder="Time In Duration" 
                    v-model="event.event_time_in_duration" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="timeOut" placeholder="Time Out" 
                    v-model="event.event_time_out" readonly>
                  </div>
                   <div class="col-md-6">
                    <input type="text" class="form-control" id="timeOutDuration" placeholder="Time Out Duration"
                    v-model="event.event_time_out_duration" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" id="monitorID" placeholder="Student Monitor ID" 
                    v-model="event.student_monitor_id" readonly>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="schoolYear" placeholder="School Year" 
                    v-model="event.school_year_description" readonly>
                  </div>
                    <div class="col-md-6">
                    <input type="text" class="form-control" id="modal_semester" placeholder="Semester"
                    v-model="event.semester_description" readonly>
                  </div>
                </div>
              </div>

            </form>
          </div>

          <div class="modal-footer">
            <a class="btn btn-primary" data-toggle="modal" data-target="#updateEvent" data-dismiss="modal">Update</a>
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
	  </div>

  </div>


</template>

<script>
import { mapGetters } from "vuex";
import datepicker from 'vuejs-datepicker'

export default {
   components:{
    datepicker
  },

  beforeCreate: function(){
     this.$store.commit('setNavbar', 'Dashboard');
     this.$store.commit('setButton', 'dashboard');
  },

  data(){
    return{
      semester_search:'',
      schoolYear_search:'',

      event:{
        event_id: 0,
        semester_id: "",
        school_year_id: "",
        student_monitor_id: "",
        event_name: "",
        event_date: "",

        event_time_in: "",
        event_timeIN_hour: "",
        event_timeIN_min: "",
        event_timeIN_meridian: "",
        event_time_in_duration: "",

        event_time_out: "",
        event_timeOUT_hour: "",
        event_timeOUT_min: "",
        event_timeOUT_meridian: "",
        event_time_out_duration: "",

        event_location: ""
      },
      modal_event_id: 0, 
      componentKey: this.$store.state.componentKey,
    }
  },

  computed:{
    ...mapGetters({
      events: "getEvents",
      schoolYear: "getSchoolYear",
      semesters: "getSemesters",
    }),

    filteredEvents() {
      return this.events.filter(event => {
        return (
          event.semester_description.match(this.semester_search) &&
          event.school_year_description.match(this.schoolYear_search)
        );
      });
    }
  },

  mounted(){
    this.$store.dispatch('fetchEvents');
    this.$store.dispatch('fetchSchoolYear');
    this.$store.dispatch('fetchSemester');
  },

  methods:{
    createEvent(){
      if(this.event.event_name == "" || this.event.event_timeIN_hour == "" || this.event.event_timeIN_min == "" || this.event.event_timeIN_meridian == "" ||
          this.event.event_timeOUT_hour == "" || this.event.event_timeOUT_min == "" || this.event.event_time_out_duration == "" || this.event.event_location == "" || 
          this.event.student_monitor_id == "" || this.event.school_year_id == "" || this.event.semester_id == "" || this.event.event_date == ""){
                this.$toast.error("Please fill in all fields!");
          }
      else{    
        var d = new Date(this.event.event_date)
        this.formattedDate =  (d.getUTCMonth()+1) +"/"+ (d.getUTCDate()+1) +"/"+ d.getUTCFullYear()

        var timeIn = this.event.event_timeIN_hour + ":" + this.event.event_timeIN_min + " " + this.event.event_timeIN_meridian;
        var timeOut = this.event.event_timeOUT_hour + ":" + this.event.event_timeOUT_min + " " + this.event.event_timeOUT_meridian;

        var data = {
          semester_id: this.event.semester_id,
          school_year_id: this.event.school_year_id,
          event_name: this.event.event_name,
          event_time_in: timeIn,
          event_time_in_duration: this.event.event_time_in_duration,
          event_time_out: timeOut,
          event_time_out_duration: this.event.event_time_out_duration,
          event_location: this.event.event_location,
          student_monitor_id: this.event.student_monitor_id,
          event_date: this.formattedDate
        };
        
        this.$store.dispatch('createEvents', data);
        this.componentKey += 1; 
        setTimeout(() => {
            this.$store.commit('setComponentKey', this.componentKey);
        }, 500);
        this.$toast.success("Event saved successfuly!");
      }
    },

    editEvent(event){
      this.modal_event_id = event.event_id
      this.event.semester_id = event.semester_id,
      this.event.school_year_id = event.school_year_id,
      this.event.student_monitor_id = event.student_monitor_id,
      this.event.event_name = event.event_name,
      this.event.event_date = event.event_date,
      this.event.event_time_in = event.event_time_in,
      this.event.event_time_in_duration = event.event_time_in_duration,
      this.event.event_time_out = event.event_time_out,
      this.event.event_time_out_duration = event.event_time_out_duration,
      this.event.event_location = event.event_location
      this.event.semester_description = event.semester_description
      this.event.school_year_description = event.school_year_description
    },

    updateEvent(){
      if(this.event.event_name == "" || this.event.event_timeIN_hour == "" || this.event.event_timeIN_min == "" || this.event.event_timeIN_meridian == "" ||
          this.event.event_timeOUT_hour == "" || this.event.event_timeOUT_min == "" || this.event.event_time_out_duration == "" || this.event.event_location == "" || 
          this.event.student_monitor_id == "" || this.event.school_year_id == "" || this.event.semester_id == "" || this.event.event_date == ""){
                this.$toast.error("Please fill in all fields!");
          }
      else{    
        var d = new Date(this.event.event_date)
        this.formattedDate =  (d.getUTCMonth()+1) +"/"+ (d.getUTCDate()+1) +"/"+ d.getUTCFullYear()

        var timeIn = this.event.event_timeIN_hour + ":" + this.event.event_timeIN_min + " " + this.event.event_timeIN_meridian;
        var timeOut = this.event.event_timeOUT_hour + ":" + this.event.event_timeOUT_min + " " + this.event.event_timeOUT_meridian;

        var data = {
          event_id: this.modal_event_id,
          semester_id: this.event.semester_id,
          school_year_id: this.event.school_year_id,
          event_name: this.event.event_name,
          event_time_in: timeIn,
          event_time_in_duration: this.event.event_time_in_duration,
          event_time_out: timeOut,
          event_time_out_duration: this.event.event_time_out_duration,
          event_location: this.event.event_location,
          student_monitor_id: this.event.student_monitor_id,
          event_date: this.formattedDate
        };
        
        this.$store.dispatch('updateEvents', data);
        console.log(this.componentKey);
        this.componentKey += 1; 
        setTimeout(() => {
            this.$store.commit('setComponentKey', this.componentKey);
        }, 500);
        console.log(this.componentKey);
        this.$toast.success("Event Updated Successfuly!");
        
      }
    },

    clear(){
      this.modal_event_id = "",
      this.event.semester_id ="",
      this.event.school_year_id = "",
      this.event.student_monitor_id = "",
      this.event.event_name = "",
      this.event.event_date = "",
      this.event.event_time_in = "",
      this.event.event_timeIN_hour = "",
      this.event.event_timeIN_min = "",
      this.event.event_timeIN_meridian = "",
      this.event.event_time_in_duration = "",
      this.event.event_time_out = "",
      this.event.event_timeOUT_hour = "",
      this.event.event_timeOUT_min = "",
      this.event.event_timeOUT_meridian = "",
      this.event.event_time_out_duration = "",
      this.event.event_location = "",
      this.event.semester_description = "",
      this.event.school_year_description = ""
    }
  }
}
</script>